@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}
body {
  color: #27272a;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .custom-input {
    @apply input input-sm text-xs text-zinc-700 input-bordered bg-zinc-50 focus:outline-primary focus:border-zinc-100;
  }
  .custom-textarea {
    @apply textarea textarea-bordered w-auto resize-none text-xs bg-zinc-50 focus:outline-primary focus:border-primary focus:border-zinc-100;
  }
  .primary-text {
    @apply text-xs text-zinc-500;
  }
  .highligth-text {
    @apply text-xs text-zinc-600 font-semibold;
  }
  .check-label {
    @apply flex items-center gap-2 text-xs text-zinc-600 rounded-md p-2 border border-zinc-300
  }
}

/* Total scrollbar width */
::-webkit-scrollbar {
  width: 8px;
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  background: #eceff4;
  border-radius: 8px;
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #516f95;
  border-radius: 8px;
}

/* Scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #516f95;
}

/* Optional: Scrollbar corner for resizable containers */
::-webkit-scrollbar-corner {
  background: #eceff4;
}

::selection {
  background: #414a5b; /* Background color */
  color: rgb(255, 255, 255);       /* Text color */
}

